@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

/* DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-weight: 400;
  overflow-x: hiddden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Kanit', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* Navbar */

.nav-flex {
  display: flex;
  flex-direction: row;
}

nav a.navbar-brand {
  margin-left: 80px;
}

nav.navbar {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.5 ease-in-out;
}

nav.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: white !important;
  letter-spacing: 1px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  background-color: rgba(255, 255, 255);
  width: 40px;
  height: 40px;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  line-height: 2;
}

.social-icon a::before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #0d6efd;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 60%;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%);
}

#steam-1,
#steam-2 {
  transition: all 2s ease;
}

#steam-2 {
  opacity: 0;
}

svg:hover #steam-1 {
  transform: translate(0px, -40px);
  opacity: 0;
}
svg:hover #steam-2 {
  opacity: 1;
}

/* Hero */

.hero {
  margin-top: 0;
  padding: 260px 0 150px 0;
}
.hero .name {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  font-size: 48px;
  margin-bottom: 12px;
  display: inline-block;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 12px;
  display: block;
}

.hero p {
  font-size: 24px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 30px 0 40px 0;
}

/* SKILLS */

.skill {
  position: relative;
  margin-bottom: 150px;
}

.skill h2 {
  font-size: 58px;
}

.skill-box {
  background-color: #181818;
  border-radius: 70px;
  text-align: center;
  padding: 50px 50px;
}

.skill h5 {
  font-size: 35px;
}

.skill p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 15px;
  margin: 10px 0 50px 0;
}

/* PROJECTS */

.project {
  position: relative;
  margin-bottom: 150px;
}

.project h2 {
  font-size: 58px;
  margin-bottom: 10px;
}

.project p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 10px 0 50px 0;
}

.project-img {
  max-width: 100%;
  max-height: 100%;
}

.project-imgbox {
  position: relative;
  border-radius: 20px;
  margin-bottom: 24px;
}

.project-imgbox::before {
  content: '';
  opacity: 0.85;
  position: absolute;
  height: 0;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.project-imgbox:hover::before {
  height: 100%;
  background-image: linear-gradient(to bottom, #121212, black);
}

.project-imgbox:hover .project-label {
  top: 50%;
  opacity: 1;
}

.project-label {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s ease-in-out;
  opacity: 0;
  width: 100%;
}

.project-label h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  color: white;
}

.project-imgbox img {
  height: 287px;
  width: 416px;
}

.project-button {
  margin: 5px 0px 15px 0px;
}

.button_p {
  color: white !important;
  text-transform: uppercase;
  background: #121212;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.8) !important;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
}

.button_p:hover {
  color: #0d6efd !important;
  border-radius: 50px;
  border-color: #0d6efd !important;
  transition: all 0.6s ease 0s;
}

/* INTERESTS */

.interest {
  background-color: #121212;
  margin-bottom: 150px;
}

.interest-box {
  background-color: #181818;
  border-radius: 70px;
  text-align: center;
  padding: 50px 50px;
}

.interest h2 {
  font-size: 58px;
  margin-bottom: 10px;
}

.interest p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 10px 0 75px 0;
}

.card-container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
